<!-- main-page.component.html -->

<header>
    <div class="header-left">
      <img src="/assets/logo3.png" alt="EY Logo" class="ey-logo">
    </div>
    <div class="header-center">
      <nav>
       <h4>Machine Learning Module</h4>
      </nav>
    </div>
    <div class="header-right">
      <input type="text" placeholder="Search for cubes..." class="search-bar">
      <button >Search</button> 
    </div>
    <a href="#" class="logout-button" title="Logout">
        <span class="logout-icon">&#9654;</span> 
        Logout
      </a>
  </header>
  
  <div class="main-content">
    <div class="cube-container">
      <a class="cube" href="https://huggingface.co/spaces/EY-I/SalesForecast" >
        <img class="cube-image" src="/assets/slaes.png" alt="Sales forecasting">
         Sales forecasting
      </a>
      <a class="cube" href="https://huggingface.co/spaces/EY-I/image-classifier">
      <img class="cube-image"src="/assets/imageclassifer.png" alt="Image classification">
        Image classification
      </a>
      <a class="cube" href="https://huggingface.co/spaces/EY-India/audio-classifier">
      <img class="cube-image"src="/assets/audio.png" alt=" Audio classification">
      Audio classification
      </a>
      <a class="cube" href="https://huggingface.co/spaces/EY-India/sentiment-analysis">
        <img class="cube-image" src="/assets/Sentiment_Analysis.jpg" alt="Sentiment Analysis">
        Sentiment Analysis
      </a>     
    </div>
    <div  class="cube-container">
        <a class="cube" href="https://huggingface.co/spaces/EY-India/OCRInvoiceProcessing">
        <img class="cube-image" src="/assets/ocr.png" alt=" OCR text detection">
          OCR text detection
        </a>
        <a class="cube" href="https://periodic-inventory-replenishment.streamlit.app/">
          <img class="cube-image" src="/assets/perodic.png" alt="Periodic Inventory Replenishment">
          Periodic Inventory Replenishment
        </a>
        <a class="cube" href="https://huggingface.co/spaces/EY-I/Data_Profiling" >
        <img  class="cube-image" src="/assets/dataprofile.png" alt="Data Profiling">
        Data Profiling
        </a>
        <a class="cube" href="https://translate.ey.com/about">
          <img class="cube-image"src="/assets/LanguageTranslation.png" alt="Language Translation">
         Language Translation
       </a>
       
    </div>
    <div class="cube-container">
      <a class="cube" href="#">chat bot (context based question answering)</a>
      <a class="cube" href="https://huggingface.co/spaces/EY-India/object-detection">Object detection</a>
      <a class="cube" href="https://huggingface.co/spaces/EY-India/SalesForecast">Demand forecasting</a>
      <a class="cube" href="#">Text summarization</a>  
  </div>
      
      <!-- Add more cubes as needed -->
  </div>
 
  
  <!-- <footer>
    &copy; 2024 Your App. All rights reserved.
  </footer> -->
  