body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header {
  background-color: #000; /* Set to black */
  color: white;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  height: 60px; /* Set a fixed height for the header */
}

.ey-logo {
  width: 90px; /* Set to match the tab width */
  height: 100%; /* Take up the full height of the header */
  margin-right: 10px;
}


.header-center {
  flex-grow: 1;
}

.header-center h1 {
  margin: 0;
}

.header-right {
  display: flex;
  align-items: center;
}

.login-button {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.main-content {
  margin-top: 60px;
  overflow: auto;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-wrapper {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  position: relative;
  max-width: 300px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: white; /* Set a background color for the form container */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
  padding: 8px;
}


.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2d2b2b; /* Set to gray (you can adjust the shade) */
  color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

button {
  background-color: #000;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #616d65;
}
